@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css?family=Inter:regular,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*--------------------*/
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #000;
}

[class*="__container"] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  background: transparent;
  padding: 0px 12px;
}

.to-do {
  padding: 70px 0px;
}

.to-do__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.to-do__wrapper {
  max-width: 460px;
  width: 100%;
}

.to-do__pripority {
  text-align: center;
  color: #000;
}

.to-do__pripority:not(:last-child) {
  margin-bottom: 12px;
}

.to-do__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 6px;
  border: 1px solid #989898;
}

.to-do__row:not(:last-child) {
  margin-bottom: 10px;
}

.to-do__row_p {
  padding: 12px;
}

.to-do__row_checked {
  background-color: #f4f4f4;
}

.to-do__label {
  width: 100%;
}

.to-do__input {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
}

.to-do__checkbox-label {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.to-do__checkbox-input {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.to-do__checkbox-custom {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent;
  border: 1px solid #989;
  border-radius: 50%;
  margin-right: 12px;
}

.to-do__checkbox-custom::before {
  content: "";
  position: absolute;
  display: inline-block;
  -webkit-transform: scale(0);
          transform: scale(0);
  width: 14px;
  height: 14px;
  top: 12%;
  left: 12%;
  background: #c4c4c4;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.to-do__btn-delete {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  padding: 0;
}

.to-do__checkbox-input:checked + .to-do__checkbox-custom::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}
