@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css?family=Inter:regular,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*--------------------*/
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

[class*="__container"] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  text-align: center;
  color: #000;
  font-size: 18px;
  line-height: 133.33333%;
}

.title:not(:last-child) {
  margin-bottom: 12px;
}

.btn-add-task {
  background: url("../img/add.svg") 0 0 no-repeat;
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 6px;
  border: 1px solid #989898;
}

.form:not(:last-child) {
  margin-bottom: 12px;
}

.high-form__input {
  border-radius: 6px;
  font-size: 16px;
  padding: 12px;
}

.low-form__input {
  border-radius: 6px;
  font-size: 16px;
  padding: 12px;
}

.to-do {
  padding-top: 50px;
}

.to-do__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.to-do__wrapper {
  max-width: 460px;
  width: 100%;
}

.to-do__high-tasks:not(:last-child) {
  margin-bottom: 12px;
}

.to-do__task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  border-radius: 6px;
  border: 1px solid #989898;
  padding: 12px;
}

.to-do__task:not(:last-child) {
  margin-bottom: 12px;
}

.to-do__task.checked {
  background: #2cf08b;
}

.to-do__checkbox {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.to-do__task-name {
  width: 100%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.to-do__btn-delete-task {
  background: url("../img/delete.svg") 0 0 no-repeat;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  width: 20px;
  height: 20px;
  display: block;
}

input[type="checkbox"] {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25px;
          flex: 0 0 25px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #c4c4c4;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: gray;
  border: 3px solid #c4c4c4;
}
