@import "nullstyle.scss";
@import url("https://fonts.googleapis.com/css?family=Inter:regular,700&display=swap");

// цвета
$mainColor: #222428;
$aquaColor: #edfdfd;
$blueColor: #00bee3;
$lightBlueColor: #c4f1f9;
$greenColor: #46b464;
$pinkColor: #ff94b9;
$redColor: #d10c2c;
$orangeColor: #ffae11;
// цвета

body {
	font-family: "Inter", sans-serif;
	font-size: 16px;
	color: $mainColor;
}

[class*="__container"] {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}
//========================================================================================================================================================

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}
.title {
	text-align: center;
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: (48/40 * 100%);
	color: $mainColor;
	span {
		color: $blueColor;
	}
	@media (max-width: 767px) {
		font-size: 32px;
		max-width: 360px;
	}
	@media (max-width: 425px) {
		font-size: 26px;
		max-width: 300px;
	}
}

.to-do {
	padding: 70px 0px;
	@media (max-width: 767px) {
		padding: 50px 0px;
	}
	@media (max-width: 480px) {
		padding: 30px 0px;
	}

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	// .to-do__title

	&__title {
		&:not(:last-child) {
			margin-bottom: 70px;
		}
		@media (max-width: 767px) {
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
	}

	// .to-do__wrapper

	&__wrapper {
		background-color: $aquaColor;
		max-width: 700px;
		width: 100%;
		border-radius: 16px;
		padding: 25px 35px;
		box-shadow: 0px 4px 10px 0px rgba(77, 77, 77, 0.15);
		@media (max-width: 767px) {
			padding: 25px 15px;
		}
		@media (max-width: 480px) {
			padding: 25px 15px 15px 15px;
		}
	}

	// .to-do__input

	&__input {
		border-radius: 6px;
		border: 1px solid #e2e2e2;
		width: 100%;
		padding: 12px 15px;
		font-size: 16px;
		&:not(:last-child) {
			margin-bottom: 10px;
		}
		&::placeholder {
			color: #bebebe;
			font-size: 16px;
			font-weight: 500;
		}
	}

	// .to-do__btn

	&__btn {
		background-color: $pinkColor;
		border-radius: 6px;
		font-weight: 700;
		text-transform: uppercase;
		padding: 12px 15px;
		width: 100%;
		font-size: 16px;
		transition: background-color 0.3s ease 0s;
		&:not(:last-child) {
			margin-bottom: 40px;
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: #d36e91;
			}
		}
	}

	// .to-do__item

	&__item {
		padding: 10px 15px;
		background-color: $lightBlueColor;
		border-radius: 6px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 15px 30px;
		&:not(:last-child) {
			margin-bottom: 10px;
		}
		@media (max-width: 480px) {
			flex-direction: column;
			text-align: center;
		}
	}

	// .to-do__task-name

	&__task-name {
		color: $blueColor;
		font-weight: 500;
		line-height: (20/16 * 100%);
	}

	// .to-do__actions

	&__actions {
	}
}

.actions-to-do {
	display: flex;
	gap: 10px;
	@media (max-width: 480px) {
		column-gap: 30px;
	}
	// .actions-to-do__item

	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 34px;
		height: 34px;
		border-radius: 4px;
		@media (max-width: 767px) {
			width: 30px;
			height: 30px;
		}

		&_done {
			background-color: $greenColor;
			transition: background-color 0.3s ease 0s;
			@media (any-hover: hover) {
				&:hover {
					background-color: #34864a;
				}
			}
		}

		// .actions-to-do__item_delete

		&_delete {
			background-color: $redColor;
			transition: background-color 0.3s ease 0s;
			@media (any-hover: hover) {
				&:hover {
					background-color: rgb(150, 25, 25);
				}
			}
		}

		// .actions-to-do__item_change

		&_change {
			background-color: $orangeColor;
			transition: background-color 0.3s ease 0s;
			@media (any-hover: hover) {
				&:hover {
					background-color: rgb(172, 115, 9);
				}
			}
		}
	}
}
