@import "nullstyle.scss";
@import url("https://fonts.googleapis.com/css?family=Inter:regular,700&display=swap");

body {
	font-family: "Inter", sans-serif;
	font-size: 16px;
}

[class*="__container"] {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}
//========================================================================================================================================================
.title {
	text-align: center;
	color: #000;
	font-size: 18px;
	line-height: (24/18 * 100%);
	&:not(:last-child) {
		margin-bottom: 12px;
	}
}
.btn-add-task {
	background: url("../img/add.svg") 0 0 no-repeat;
	display: block;
	width: 20px;
	height: 20px;
	margin-right: 12px;
}

.form {
	display: flex;
	align-items: center;
	column-gap: 15px;
	justify-content: space-between;
	border-radius: 6px;
	border: 1px solid #989898;
	&:not(:last-child) {
		margin-bottom: 12px;
	}
}
.high-form {
	// .high-form__input

	&__input {
		border-radius: 6px;
		font-size: 16px;
		padding: 12px;
	}

	// .high-form__btn-add-task

	&__btn-add-task {
	}
}
.low-form {
	// .low-form__input

	&__input {
		border-radius: 6px;
		font-size: 16px;
		padding: 12px;
	}

	// .low-form__btn-add-task

	&__btn-add-task {
	}
}
.high-task-checkbox {
}

.low-task-checkbox {
}

//========================================================================================================================================================

.to-do {
	padding-top: 50px;
	// .to-do__container

	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	// .to-do__wrapper

	&__wrapper {
		max-width: 460px;
		width: 100%;
	}

	// .to-do__high-priority-title

	&__high-priority-title {
	}

	// .to-do__high-form

	&__high-form {
	}

	// .to-do__high-tasks

	&__high-tasks {
		&:not(:last-child) {
			margin-bottom: 12px;
		}
	}

	// .to-do__task

	&__task {
		display: flex;
		justify-content: space-between;
		column-gap: 15px;
		border-radius: 6px;
		border: 1px solid #989898;
		padding: 12px;
		&:not(:last-child) {
			margin-bottom: 12px;
		}

		&.checked {
			background: rgb(44, 240, 139);
		}
	}

	// .to-do__checkbox

	&__checkbox {
		align-self: start;
	}

	// .to-do__task-name

	&__task-name {
		width: 100%;
		align-self: flex-start;
	}

	// .to-do__btn-delete-task

	&__btn-delete-task {
		background: url("../img/delete.svg") 0 0 no-repeat;
		flex: 0 0 20px;
		width: 20px;
		height: 20px;
		display: block;
	}

	// .to-do__low-priority-title

	&__low-priority-title {
	}

	// .to-do__low-form

	&__low-form {
	}

	// .to-do__low-tasks

	&__low-tasks {
	}
}

input[type="checkbox"] {
	flex: 0 0 25px;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 1px solid #c4c4c4;
	cursor: pointer;
}
input[type="checkbox"]:checked {
	background-color: gray;
	border: 3px solid #c4c4c4;
}
